# Python
*$py.class
*.egg
*.egg-info/
*.py[cod]
*.so
.Python
.eggs/
.installed.cfg
MANIFEST
__pycache__/
build/
develop-eggs/
dist/
downloads/
eggs/
lib/
lib64/
parts/
pyproject.toml
sdist/
stubs/
var/
wheels/

# #3D models and textures

src/objects/

# IDE specific
.vscode/
.idea/
*.swp
*.swo
.prettierrc.toml

# Build and output directories
bin/
obj/
out/
build/

# Local development files
*.local
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# System files
.DS_Store
Thumbs.db
.direnv
result
