# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
lib/
lib64/
parts/
pyproject.toml
sdist/
stubs/
var/
wheels/
.eggs/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

#3D models and textures
objects/

# IDE specific
.vscode/
.idea/
*.swp
*.swo
.prettierrc.toml

# Build and output directories
bin/
obj/
out/
build/

# Local development files
*.local
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# System files
.DS_Store
Thumbs.db
.direnv

# Flake
.direnv
flake.lock
result
